---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ShortFilms from "../../../components/ShortFilms.astro";
---

<BaseLayout title="POV 22 High School Finalists | Piling Obrang Vidyo">
	<div class="p-4 flex flex-col gap-4">
		<h1 class="text-3xl">POV 22 High School Finalists</h1>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
			<div
				class="w-full aspect-video rounded-lg bg-cover bg-center flex items-end p-4 relative overflow-hidden"
				style={`background-image: url('/img/pov22/hs-finalists/judge.png');`}
			>
				<!-- gradient overlay -->
				<div
					class="absolute inset-0 bg-black/20 rounded-lg z-10 pointer-events-none m-auto"
				>
				</div>

				<div>
					<p class="relative z-10 text-white text-shadow-lg line-clamp-2">
						Ma. Francheska A. Mercado
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm"
					>
						Francisco E. Barzaga Integrated High School
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm italic"
					>
						"The Judge"
					</p>
				</div>
			</div>
			<div
				class="w-full aspect-video rounded-lg bg-cover bg-center flex items-end p-4 relative overflow-hidden"
				style={`background-image: url('/img/pov22/hs-finalists/sikhay.png');`}
			>
				<!-- gradient overlay -->
				<div
					class="absolute inset-0 bg-black/20 rounded-lg z-10 pointer-events-none m-auto"
				>
				</div>

				<div>
					<p class="relative z-10 text-white text-shadow-lg line-clamp-2">
						Jenna Alexia C. Siojo
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm"
					>
						Binan City Science and Technology High School
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm italic"
					>
						"SIKHAP: Siklo ng Kontaminasyon sa Henerasyon ng Ating Pangingisda"
					</p>
				</div>
			</div>
			<div
				class="w-full aspect-video rounded-lg bg-cover bg-center flex items-end p-4 relative overflow-hidden"
				style={`background-image: url('/img/pov22/hs-finalists/misa.png');`}
			>
				<!-- gradient overlay -->
				<div
					class="absolute inset-0 bg-black/20 rounded-lg z-10 pointer-events-none m-auto"
				>
				</div>

				<div>
					<p class="relative z-10 text-white text-shadow-lg line-clamp-2">
						Francine Jade Refruto
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm"
					>
						Eugenio M. Lopez Jr. Center for Media Arts Senior High School
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm italic"
					>
						"Misa"
					</p>
				</div>
			</div>
			<div
				class="w-full aspect-video rounded-lg bg-cover bg-center flex items-end p-4 relative overflow-hidden"
				style={`background-image: url('/img/pov22/hs-finalists/cashcash.png');`}
			>
				<!-- gradient overlay -->
				<div
					class="absolute inset-0 bg-black/20 rounded-lg z-10 pointer-events-none m-auto"
				>
				</div>

				<div>
					<p class="relative z-10 text-white text-shadow-lg line-clamp-2">
						Veann Rein Francisco
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm"
					>
						Alaminos City National High School Special Program In The Arts
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm italic"
					>
						"Cash Cash To Heaven"
					</p>
				</div>
			</div>
			<div
				class="w-full aspect-video rounded-lg bg-cover bg-center flex items-end p-4 relative overflow-hidden"
				style={`background-image: url('/img/pov22/hs-finalists/signal.png');`}
			>
				<!-- gradient overlay -->
				<div
					class="absolute inset-0 bg-black/20 rounded-lg z-10 pointer-events-none m-auto"
				>
				</div>

				<div>
					<p class="relative z-10 text-white text-shadow-lg line-clamp-2">
						Ken S. Suelto
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm"
					>
						Atty. Orlando S. Rimando National High School
					</p>
					<p
						class="relative z-10 text-white text-shadow-lg line-clamp-2 text-sm italic"
					>
						"Ang Signal Gikan Sa Taas (The Signal From Above)"
					</p>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
