<section>
	<div class="flex flex-col gap-2 text-sm text-white/50 mt-8">
		<div class="flex gap-4">
			<img src="/upcinema.png" alt="UP Cinema" class="h-16" />
			<img src="/povwhite.png" alt="Piling Obrang Vidyo" class="h-16" />
		</div>
		<span>© 2026 Piling Obrang Vidyo. All rights reserved.</span>
		<span>Operated by UP Cinema.</span>
	</div>
</section>
