<section
	class="flex flex-col sm:flex-row sm:items-end gap-6 justify-between p-4"
>
	<div>
		<div class="flex flex-col gap-2 text-sm text-white/50 mt-8">
			<div class="flex gap-4">
				<img src="/upcinema.png" alt="UP Cinema" class="h-16" />
				<img src="/povwhite.png" alt="Piling Obrang Vidyo" class="h-16" />
			</div>
			<span>© 2026 Piling Obrang Vidyo. All rights reserved.</span>
			<span>Operated by UP Cinema.</span>
		</div>
		<div class="flex gap-4 mt-4">
			<a href="https://www.facebook.com/UPCinemaPOV"
				><img class="h-8" src="/facebook.svg" /></a
			>

			<a href="https://www.instagram.com/upcinemapov/"
				><img class="h-8" src="/instagram.svg" /></a
			>
			<a href="https://x.com/UPCinemaPOV"><img class="h-8" src="/x.svg" /></a>
			<a href="https://www.youtube.com/@up_cinema/"
				><img class="h-8" src="/youtube.svg" /></a
			>
		</div>
	</div>
	<p class="text-sm text-white/50 mt-4 sm:text-right">
		For general inquiries: <br />pilingobrangvidyo@gmail.com<br /><br /> For submissions
		and festival-related concerns: <br />sec.pilingobrangvidyo@gmail.com <br
		/><br />For sponsorships, partnerships, or collaborations:<br />
		marketing.pilingobrangvidyo@gmail.com
	</p>
</section>
