---
const { text } = Astro.props;
---

<div
	class="bg-[url('/bg.png')] bg-size-[115%] bg-center rounded-lg w-full flex flex-col justify-end gap-2 box-border p-4 relative h-full"
>
	<h2 class="text-2xl text-maroon w-full line-clamp-3">
		{text}
	</h2>
</div>
