---
import Button from "./Button.astro";
---

<div
	class="bg-[url('/bg.png')] bg-size-[115%] bg-center rounded-lg w-full h-full flex flex-col justify-end gap-2 box-border p-4 relative overflow-hidden"
>
	<h2 class="text-2xl text-maroon w-fit">
		POV XXII<br />
		Call for Entries is Now Open!
	</h2>
	<Button url="/submit" text="Submit here" />
	<img src="/blue.png" class="w-18 absolute -top-8 -right-8" />
	<img src="/yellow.png" class="w-24 absolute -top-12 -left-12" />
	<img src="/purple.png" class="w-24 absolute -bottom-12 right-0" />
</div>
